@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(85, 187, 85);
}

.titulo-principal {
    text-align: center;
    height: 3em;
    margin: 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

nav > a:hover {
    color: rgb(0, 36, 0);
    text-decoration: underline;
}

header {
    background-color: green;
    color: white;
    margin: 0px;
}

main {
    background-color: white;
    padding: 50px;
    margin: 0px 130px 13px 130px;
    border-radius: 0px 0px 10px 10px;
}

h1 {
    font-family: 'idroid', Times, serif;
    color: rgb(0, 58, 0);
    margin: 0px;
}

h2 {
    background-color: rgba(85, 187, 85, 0.418);
    font-family: 'idroid', Times, serif;
    color: darkgreen;
}

main > section > p > a {
    text-decoration: none;
    color: darkgreen;
}

main > section > p > a:hover {
    color: rgb(0, 58, 0);
    text-decoration: underline;
}

main > section > article > p > a {
    text-decoration: none;
    color: darkgreen;
}

main > section > article > p > a:hover {
    color: rgb(0, 58, 0);
    text-decoration: underline;
}
.sub-titulo {
    text-align: center;
}

footer {
    background-color: rgb(4, 59, 4);
    color: white;
    text-align: center;
    padding: 7px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}