@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.titulo-principal {
    text-align: center;
    height: 3em;
}

.home {
    color: white;
    text-decoration: none;
}

.home:hover {
    color: rgb(0, 36, 0);
}

.noticias {
    color: white;
    text-decoration: none;
}

.noticias:hover {
    color: rgb(0, 36, 0);
}

.curiosidades {
    color: white;
    text-decoration: none;
}

.curiosidades:hover {
    color: rgb(0, 36, 0);
}

.faleconosco {
    color: white;
    text-decoration: none;
}

.faleconosco:hover {
    color: rgb(0, 36, 0);
}

header {
    background-color: green;
    color: white;
}

h1 {
    font-family: 'idroid', Times, serif;
    color: rgb(0, 58, 0);
}

h2 {
    font-family: 'idroid', Times, serif;
    color: darkgreen;
}

.sub-titulo {
    text-align: center;
}

main {
    background-color: rgb(85, 187, 85);
}

footer {
    background-color: rgb(6, 77, 6);
    color: white;
}